h1 {
    margin: 10px;
    box-shadow: 10px 5px 5px  rgb(218, 68, 63);
    padding: 5px 5px 5px 5px;
  }

div.box1 {
  flex: 2;                /* 横幅2で表示 */

  background-color:lightcyan;
  margin-left: 5px;
}
div.box2 {
  flex: 2;                /* 横幅2で表示 */

  background-color: lightcyan;
  margin-left: 5px;
}

th{
  background-color: lightcyan;
}

div.midasi1 {
  flex: 1; 
  font-size: 18px;
  margin:10px;
  font-weight: bold;
  background-color:lightcyan;
  padding-left: 10%;
}

div.midasi2 {
  flex: 2; 
  font-size: 18px;
  margin:10px;
  font-weight: bold;
  background-color:lightcyan;
  padding-left: 10%;
}

div.naiyou{
  font-size: 16px;
  padding: .25rem .25rem .25rem .5rem;
  
  background-color: lightcyan;
}

