body{
  background-color: beige;
}
h1 {
    margin: 10px;
    background: rgb(149, 173, 234);
    padding: 5px 5px 5px 5px;
    color: white;
  }
  div.jyan{
    display: flex;
    /* フレックスボックスにする */
    flex-direction: row;
    /* 横向きに表示（column に変更すると縦向きに表示） */
  }

div.box1 {
  flex: 2;                /* 横幅2で表示 */

  background-color:lightcyan;
  margin-left: 5px;
}
div.box2 {
  flex: 2;                /* 横幅2で表示 */

  background-color: lightcyan;
  margin-left: 5px;
}



div.midasi1 {
   
  font-size: 18px;
  margin:0px;
  font-weight: bold;
  background-color:lightcyan;
  padding-left: 10%;
}

div.midasi2 {
   
  font-size: 18px;
  margin:0px;
  font-weight: bold;
  padding-left: 10%;
}

table{
  
  padding: .25rem .25rem .25rem .25rem;
  
  display: table;
  table-layout: fixed;
  
  
}
th{
  background-color:lightcyan;
}

table,td, th{
  border: 1px solid black;
}

div.zentai{
  display: flex;          /* フレックスボックスにする */
  flex-direction: row;    /* 横向きに表示（column に変更すると縦向きに表示） */

  width:"100%";
  border: 1px solid gray;
  padding: 5px 5px 5px 0;
  text-align: center;
}
div.l{
  flex: 2;                /* 横幅2で表示 */

    background-color: rgb(118, 163, 231);
    margin-left: 5px;
}
